<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="Expin Regression" thread-count="2" parallel="tests">

	<listeners>
		<listener
			class-name="com.amazon.auto.testng.reports.CreateTestNGReport"></listener>
	</listeners>

	<test name="Page Test - Amazon main page test">
		<classes>

			<class
				name="com.amazon.automation.pagetests.AmazonMainPageTest" />
		</classes>
	</test>

	<test name="End to End Test - Proceed to Order 2 Kindles" >
		<classes>

			<class
				name="com.amazon.automation.endtoendtests.AmazonProceedToOrderTest" />
		</classes>
	</test>


</suite>
