<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Expin Regression">

	<test name="Page Test - Push Notification Alert">
		<classes>

			<class
				name="com.expin.automation.pagetests.NotificationsAlertTest" />
		</classes>
	</test>

	<test name="Page Test - Main Login Screen">
		<classes>

			<class
				name="com.expin.automation.pagetests.MainLoginScreenTest" />
		</classes>
	</test>


</suite>
